* {
  margin: 0;
  padding: 0;
  font-size: 5vw;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fbfbfa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:root {
  --yellow: #fde102;
  --grey: #eeeeee;
  --blue: #00acfe;
  --red: #ff3d14;
  --green: #198754;
}

.header {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
  margin-top: 2vh;
  align-items: center;
  border-radius: 5vw;
  padding: 1.5vh;
}

#img-settings {
  width: 5vw;
}

#img-transport {
  width: 9vw;
  border-radius: 50%;
}

#btn-settings {
  border: none;
  background-color: #323842;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

#btn-transport {
  background-color: white;
  border: none;
  border: 0.3vh solid var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5vw;
  width: 40vw;
  margin: auto 2vw;
  height: 10vw;
}

.div-stamina,
.div-happy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border-radius: 3vw;
  height: 10vw;
  width: 15vw;
}

.div-stamina {
  background-color: var(--blue);
}

.div-happy {
  background-color: var(--red);
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  font-size: 8vw;
  font-weight: bold;
  color: var(--green);
  margin-bottom: 3vh;
  background-color: rgb(255, 255, 255);
  width: 60vw;
  height: 6vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgb(215, 215, 215);
  border-radius: 4vw;
  padding: 1vh;
}

.img-money {
  height: 6vh;
  margin-right: 2vw;
}

.btns-container-charakteristic {
  display: flex;
  justify-content: space-evenly;
  margin: 3vw;
}

.btns-charakteristic {
  width: 15vw;
  height: 15vw;
  margin-top: 2vw;
  border: none;
  border-radius: 2vw;
}

#btn-stamina {
  background-image: url(images/stamina.png);
  background-size: cover;
}

#btn-happy {
  background-image: url(images/happy.png);
  background-size: cover;
}

#btn-update {
  background-size: cover;
  background-color: var(--yellow);
  padding: 1vw;
}

.main-container {
  background-color: #ffffff;
  width: 95vw;
  height: 83vh;
  margin-top: 3vh;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
  border-radius: 5vw;
}

.main-section {
  width: 90vw;
  height: 53vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-courier-start {
  width: 50vw;
}

.btn-start {
  background-color: var(--yellow);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 8vw;
  padding: 1.5vh 8vw;
  border-radius: 5vw;
}

.d-none {
  display: none;
}

.transport-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin-top: 3vh;
}

.img-back {
  width: 10vw;
  height: 10vw;
}

.btn-img-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 12vw;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
}

.choice-transport-container {
  width: 95vw;
  height: 64vh;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
  border-radius: 5vw;
  margin-top: 1vh;
  padding: 2vh 0;
}

.pick-transport {
  display: flex;
  justify-content: space-evenly;
  height: 16vh;
  align-items: center;
}

.img-pick-transport {
  height: 10vh;
}

.text-transport {
  font-size: 1vw;
  margin-left: 4vw;
}

.transport-name {
  font-size: 4vw;
  font-weight: bold;
}

.transport-description {
  font-size: 3vw;
  width: 40vw;
}

.div-img-transport {
  width: 12vw;
}

.btn-buy-transport {
  background-color: var(--green);
  color: white;
  border: none;
  width: 25vw;
  height: 7vh;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.span-buy-transport {
  font-size: 4.5vw;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2vh 4vw;
  border-radius: 4vw;
  width: 60vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
}

.modal-settings-close {
  float: right;
  font-size: 8vw;
  cursor: pointer;
}

.btn-how-to-play {
  border: none;
  background-color: var(--yellow);
  border-radius: 20vw;
  padding: 2vh;
  color: white;
  font-weight: bold;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
}

.input-volume {
  accent-color: var(--yellow);
}

.p-volume {
  font-weight: bold;
  color: #4e4e4e;
}

.characteristics-container {
  background-color: #ffffff;
  width: 95vw;
  height: 83vh;
  margin-top: 3vh;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
}

.stamina-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.characteristic-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85vw;
  height: 10vh;
  margin: 2vh 0;
  box-shadow: 0px 0px 10px rgb(215, 215, 215);
  border-radius: 5vw;
}

.characteristic-img-container {
  width: 10vw;
}

.img-characteristic {
  width: 10vw;
}

.characteristic-text-container p {
  width: 25vw;
  font-size: 4vw;
}

.characteristic-time-container {
  width: 15vw;
  font-weight: bold;
}

.characteristic-btn {
  width: 20vw;
  height: 6vh;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}